node_modules/
.env
.aws-sam
.vscode/settings.json
data/books.json
*.json
LambdaFunctions/login/.DS_Store
LambdaFunctions/.DS_Store
LambdaFunctions/login/lambda.zip
LambdaFunctions/JWTAuth/lambda.zip
lambdablueprint.mjs
LambdaFunctions/getAuthors/lambda.zip
LambdaFunctions/contents/lambda.zip
LambdaFunctions/follow/lambda.zip
LambdaFunctions/search/lambda.zip
notes.txt
LambdaFunctions/userSearch/lambda.zip
LambdaFunctions/getAuthors/.DS_Store
.DS_Store
config.js
